h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_51020aee { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:99px; height:28px; background-color:#5A4ABC; background: linear-gradient(to bottom,#5A4ABC, #282154 50%, #1F1941 50%, #16122F); border: 2px solid #2F2759;  }
#button_51020aee:hover { background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border-color:#000000;  }
#button_51020aee:hover span { color:#FFFFFF; }
body { background-color:#AFAFAF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_5daec0eb { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:87px; background-color:#0000FF;  }
#container_5daec0eb_padding { margin: 10px; display: block;  }
#container_532f273a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:52px; background:none;  }
#container_532f273a_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#heading_261211a2 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:'MS Serif', 'New York', serif; color:#FFFFFF; text-align:left; font-weight:bold;  }
#container_6fc79f0f { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:76px; background-color:#CECECE; border: 1px solid #404040;  }
#container_6fc79f0f_padding { margin: 10px; display: block;  }
#heading_3ef5dfa3 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:237px; background-color:#80FF00; border: 1px solid #404040;  }
.textstyle3 { text-align:center;display: block }
.textstyle4 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#008040;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_638ba834 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:946px; background-color:#0000FF;  }
#container_638ba834_padding { margin: 10px; display: block;  }
#container_1364a63e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_1364a63e_padding { margin: 10px; display: block;  }
#container_1aa02385 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:500px; background:none; border: 1px solid #404040;  }
#container_1aa02385_padding { margin: 10px; display: block;  }
#container_4ae1bf1e { vertical-align: top; position:relative; display: inline-block; width:14%; min-height:49px; background:none;  }
#container_4ae1bf1e_padding { margin: 10px; display: block;  }
#img_36ae1954 { vertical-align: bottom; position:relative; display: inline-block; width:103%; background:none; height:auto;  }
#container_636221d5 { vertical-align: top; position:relative; display: inline-block; width:61%; min-height:55px; background:none;  }
#container_636221d5_padding { margin: 10px; display: block;  }
#heading_47b69447 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#button_67a9f5d3 { box-sizing: border-box; vertical-align: bottom; border-radius: 15px; position:relative; display: inline-block; width:52px; height:20px; background-color:#FF80C0; border: 0px solid #404040;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FF00FF;  }
#container_295c03a { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_295c03a_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:12pt; font-family:Baskerville, 'Baskerville Old Face', Garamond, 'Times New Roman', serif; color:#000000; font-style:italic; font-weight:bold;  }
#container_75dae34d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:10px; background:none;  }
#container_75dae34d_padding { margin: 10px; display: block;  }
#container_33bdf33c { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:500px; background:none; border: 1px solid #404040;  }
#container_33bdf33c_padding { margin: 10px; display: block;  }
#container_d695c69 { vertical-align: top; position:relative; display: inline-block; width:14%; min-height:49px; background:none;  }
#container_d695c69_padding { margin: 10px; display: block;  }
#img_4f851483 { vertical-align: bottom; position:relative; display: inline-block; width:103%; background:none; height:auto;  }
#container_6de072a3 { vertical-align: top; position:relative; display: inline-block; width:61%; min-height:55px; background:none;  }
#container_6de072a3_padding { margin: 10px; display: block;  }
#heading_4132943e { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#button_732dc916 { box-sizing: border-box; vertical-align: bottom; border-radius: 15px; position:relative; display: inline-block; width:61px; height:20px; background-color:#FF80C0; border: 0px solid #404040;  }
#container_338c608f { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_338c608f_padding { margin: 10px; display: block;  }
#container_2ab0171c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:10px; background:none;  }
#container_2ab0171c_padding { margin: 10px; display: block;  }
#container_1f608baf { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:500px; background:none; border: 1px solid #404040;  }
#container_1f608baf_padding { margin: 10px; display: block;  }
#container_7e610a12 { vertical-align: top; position:relative; display: inline-block; width:14%; min-height:49px; background:none;  }
#container_7e610a12_padding { margin: 10px; display: block;  }
#img_594d5a98 { vertical-align: bottom; position:relative; display: inline-block; width:103%; background:none; height:auto;  }
#container_5c10059d { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:94px; background:none;  }
#container_5c10059d_padding { margin: 10px; display: block;  }
#heading_232b725f { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#button_2bd7dcea { box-sizing: border-box; vertical-align: bottom; border-radius: 15px; position:relative; display: inline-block; width:61px; height:20px; background-color:#FF80C0; border: 0px solid #404040;  }
#container_767846b5 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_767846b5_padding { margin: 10px; display: block;  }
#container_1dfb71ad { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:10px; background:none;  }
#container_1dfb71ad_padding { margin: 10px; display: block;  }
