h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_797a0fc1 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#419258; background: linear-gradient(to bottom,#419258, #1D4127 50%, #16331E 50%, #102416); border: 2px solid #224D29;  }
#button_797a0fc1:hover { background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border-color:#000000;  }
#button_797a0fc1:hover span { color:#FFFFFF; }
#button_5413056b { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#970700; background: linear-gradient(to bottom,#970700, #430300 50%, #340200 50%, #250100); border: 2px solid #4F0300;  }
#button_5413056b:hover { background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border-color:#000000;  }
#button_5413056b:hover span { color:#FFFFFF; }
body { background-color:#AFAFAF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_e4bf9ac { vertical-align: top; position:relative; display: inline-block; width:101%; min-height:659px; background:none;  }
#container_e4bf9ac_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#container_49364a9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_49364a9_padding { margin: 10px; display: block;  }
#heading_54a1c552 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#container_594a0821 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:107px; background:none; border: 1px solid #404040;  }
#container_594a0821_padding { margin: 10px; display: block;  }
#heading_4bfff64d { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:center;  }
#container_365f079f { vertical-align: top; position:relative; display: inline-block; width:51%; min-height:65px; background:none;  }
#container_365f079f_padding { margin: 10px; display: block;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_2145fd1 { vertical-align: top; position:relative; display: inline-block; width:48%; min-height:64px; background:none;  }
#container_2145fd1_padding { margin: 10px; display: block;  }
