a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
.textstyle2 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle3 { text-align:center; }
#form_676c710d { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; min-width:270px; background-color:#E5E5E5;  }
#form_676c710d_padding { margin: 10px; display: block;  }
#edit_7d581cae { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:250px; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#edit_7bca7fc7 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:250px; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_41e9c75f { vertical-align: bottom; position:relative; display: inline-block; width:100px; height:30px; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
