h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#AFAFAF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_20c8ecd1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:87px; background-color:#0000FF;  }
#container_20c8ecd1_padding { margin: 10px; display: block;  }
#container_41d24e3a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:52px; background:none;  }
#container_41d24e3a_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#heading_909dc1d { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:'MS Serif', 'New York', serif; color:#FFFFFF; text-align:left; font-weight:bold;  }
#container_6fafad2d { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:76px; background-color:#CECECE; border: 1px solid #404040;  }
#container_6fafad2d_padding { margin: 10px; display: block;  }
#heading_60d9bb0d { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:88px; background-color:#80FF00; border: 1px solid #404040; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:center;  }
#button_fc3604d { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:125px; height:28px; background-color:#FF1C1C; background: linear-gradient(to bottom,#FF1C1C, #720C0C 50%, #590909 50%, #3F0707); border: 2px solid #595959;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_5ed9721c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#0000FF;  }
#container_5ed9721c_padding { margin: 10px; display: block;  }
#container_1c209b31 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_1c209b31_padding { margin: 10px; display: block;  }
#container_4c8cc367 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:52px; background:none;  }
#container_4c8cc367_padding { margin: 10px; display: block;  }
#heading_572045c3 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:142px; height:28px; background:none; border: 1px solid #404040; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:center;  }
#container_15046308 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:90%; min-height:33px; background:none; border: 1px solid #404040;  }
#container_15046308_padding { margin: 10px; display: block;  }
#heading_3d66b5f1 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#video_7069950d { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:50%; max-width:500px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#container_4f27dd3c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_4f27dd3c_padding { margin: 10px; display: block;  }
#container_ce9811c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_ce9811c_padding { margin: 10px; display: block;  }
#container_6aa92cbc { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:500px; background:none; border: 1px solid #404040;  }
#container_6aa92cbc_padding { margin: 10px; display: block;  }
#container_5796c260 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:500px; background:none; border: 1px solid #404040;  }
#container_5796c260_padding { margin: 10px; display: block;  }
#container_8124f1d { vertical-align: top; position:relative; display: inline-block; width:10%; min-height:47px; background:none;  }
#container_8124f1d_padding { margin: 10px; display: block;  }
#img_7e510c81 { vertical-align: bottom; position:relative; display: inline-block; width:103%; background:none; height:auto;  }
#container_6b901af0 { vertical-align: top; position:relative; display: inline-block; width:61%; min-height:55px; background:none;  }
#container_6b901af0_padding { margin: 10px; display: block;  }
#heading_767bb7c2 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#button_7455863f { box-sizing: border-box; vertical-align: bottom; border-radius: 15px; position:relative; display: inline-block; width:61px; height:20px; background-color:#FF80C0; border: 0px solid #404040;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FF00FF;  }
#container_29f0b668 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_29f0b668_padding { margin: 10px; display: block;  }
.textstyle6 { font-size:12pt; font-family:Baskerville, 'Baskerville Old Face', Garamond, 'Times New Roman', serif; color:#000000; font-style:italic; font-weight:bold;  }
