h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#AFAFAF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_12642722 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:87px; background-color:#0000FF;  }
#container_12642722_padding { margin: 10px; display: block;  }
#container_57b27e8e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:52px; background:none;  }
#container_57b27e8e_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#heading_40a63007 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:'MS Serif', 'New York', serif; color:#FFFFFF; text-align:left; font-weight:bold;  }
#container_11a0051 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:76px; background-color:#CECECE; border: 1px solid #404040;  }
#container_11a0051_padding { margin: 10px; display: block;  }
#heading_18fb9fa2 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:88px; background-color:#80FF00; border: 1px solid #404040; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:center;  }
#button_316d5227 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:108px; height:28px; background-color:#FF0000; background: linear-gradient(to bottom,#FF0000, #720000 50%, #590000 50%, #3F0000); border: 2px solid #595959;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_38ce2fa5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#0000FF;  }
#container_38ce2fa5_padding { margin: 10px; display: block;  }
#container_6631db7e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_6631db7e_padding { margin: 10px; display: block;  }
